certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
Fiona==1.8.17
Shapely==1.7.1
idna==2.9
lxml==4.6.3
googlemaps==4.4.2
ndg-httpsclient==0.5.1
psycopg2-binary==2.8.5
pyasn1==0.4.8
pycparser==2.20
pyhash==0.9.3
pyOpenSSL==19.1.0
requests==2.23.0
requests-futures==1.0.0
selenium==3.141.0
six==1.15.0
SQLAlchemy==1.3.17
urllib3==1.25.9